{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Attendence</title>

<style>


  td.color_1{ background-color: #7FFF00; }
  td.color_2{ background-color: yellow; }
  td.color_3{ background-color: red; }
  table {
      counter-reset: tableCount;     
  }
  .counterCell:before {              
      content: counter(tableCount); 
      counter-increment: tableCount; 
  }
  .form-required { display: none; }
  .requiredField
  {
    display:none;
  }
  .alert
  {
    width:400px;
  }
  th{
     font-size:16px;
     font-family:Arial;
  }
  
  </style>
  
  <link href="{% static "complaint/css/simple-sidebar.css" %}" rel="stylesheet">
  {% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-center mx-3" href="#student_dashbord.html" style="color: #0f7685; font-weight: 700">View Attendance
        Portal </a>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item active" style="margin-right: 1.5rem;">
                <form action="{% url 'attendance_recognition' %}" method="post">
                    {% csrf_token %}
                    <button class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg" type="submit" name='mybtn2' value={{attendance}}>Mark
                        Attendance</button>
                </form>
            </li>
            <li class="nav-item" style="margin-right: 1.5rem;">
                <form action="{% url 'view_attendance' %}" method="post">
                    {% csrf_token %}
                    <button class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg" type="submit" name='mybtn2' value={{View_Att}}>View
                        Attendance</button>
                </form>
            </li>
        </ul>
    
  </nav>


    <!-- Mark Your Attendance -->
    <div class="row" style="margin-top: 5rem;">
        <div class="col-sm-4">
            <div class="card" style="margin-left: 1rem; text-align: center;">
                <img src="{% static 'layout/Img.png'%}" style="height: 22.5rem;" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title my-2">Mark Your Attendance</h2>
                    <p class="card-text my-2">Click on the button to Mark Your Attendance via Face Recognition</p>
                    <form action="{% url 'attendance_recognition' %}" method="post">
                        {% csrf_token %}
                        <button class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg" type="submit" name='mybtn2' value={{attendance}}>Mark
                            Attendance</button>
                    </form>
                </div>

            </div>
        </div>


        <!-- To Show the Attendance -->
        <div class="col-sm-4">
            <div class="card " style=" text-align: center;">

                <img src="{% static 'layout/Img2.jpg' %}" style="height: 24rem;" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title my-2">View Your Attendance</h2>
                    <p class="card-text my-2">Click on the Attendance to view Attendance</p>
                    <form action="{% url 'view_attendance' %}" method="post">
                        {% csrf_token %}
                        <button class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg" type="submit" name='mybtn2' value={{View_Att}}>View
                            Attendance</button>
                    </form>
                </div>
            </div>
        </div>

      
    </div>
    {% endblock %}
