{% extends 'todos/base.html' %}

{% block title %}
<title>Todo list</title>
{% endblock %}

{% block content %}





  <!-- component -->
<div class="bg-white pt-12 pr-0 pb-12 pl-0 mt-0 mr-auto mb-0 ml-auto sm:py-16 lg:py-20">
  <div class="pt-0 pr-4 pb-0 pl-4 mt-0 mr-auto mb-0 ml-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="pt-0 pr-4 pb-0 pl-4 mt-0 mr-auto mb-0 ml-auto max-w-4xl sm:px-6 lg:px-8">
      <div class="pt-0 pr-4 pb-0 pl-4 mt-0 mr-auto mb-0 ml-auto sm:flex sm:items-center sm:justify-between">
       

          <!-- title row -->
          <div class="row">
            <div class="offset-md-2 col-lg-4">
              <div class="page-header">
                <h1>
                  Todo List
                </h1>
              </div>
            </div>
          </div>
        
          <!-- Add a todo row -->
          <div class="row">
            <div class="offset-md-2 col-lg-8">
              <form method="post" action="{% url 'todos:add' %}">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-md-10">
                    <input width="30vw;" type="text" class="form-control" name="title" placeholder="Do laundry" required>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" name="submit" class="btn btn-outline-primary">
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
      </div>
      <div class="shadow-xl mt-8 mr-0 mb-0 ml-0 pt-4 pr-10 pb-4 pl-10 flow-root rounded-lg sm:py-2">
        <div class="pt--10 pr-0 pb-10 pl-0">
          {% for todo in todo_list %}
          <div class="pt-5 pr-0 pb-0 pl-0 mt-5 mr-0 mb-0 ml-0">
            <div class="sm:flex sm:items-center sm:justify-between sm:space-x-5">
              <div class="flex items-center flex-1 min-w-0">
                <img
                    src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/SlackLogo_CompanyNews_SecondaryAubergine_Hero.jpg?d=500x500&amp;f=fill" class="flex-shrink-0 object-cover rounded-full btn- w-10 h-10"/>
                <div class="mt-0 mr-0 mb-0 ml-4 flex-1 min-w-0">
                  <p class="text-lg font-bold text-gray-800 truncate"> {{ todo.title }}</p>
                 
                </div>
              </div>
              <div class="mt-4 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-14 flex items-center sm:space-x-6 sm:pl-0 sm:mt-0">
                <div class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}">
                  <form style="display: inline;" method="post" action="{% url 'todos:update' todo.id %}">
                    {% csrf_token %}
                    <input type="checkbox" name="isCompleted" onchange="this.form.submit()" {% if todo.isCompleted %} checked
                      {% endif %} class="todo-status-checkbox"
                      title="{% if not todo.isCompleted %} mark as done {% else %} mark undone {% endif %}">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}