<main>
    <!-- section hero -->
    <section>
      <div class="bg-gray-100 sm:grid grid-cols-5 grid-rows-1 px-4 py-6 min-h-full lg:min-h-screen space-y-6 sm:space-y-0 sm:gap-4">
  
      <div class="h-96 col-span-4 bg-gradient-to-tr from-indigo-800 to-indigo-500 rounded-md flex items-center">
        <div class="ml-20 w-80">
        <h2 class="text-white text-4xl">ClassTECH</h2>
        <p class="text-indigo-100 mt-4 capitalize font-thin tracking-wider leading-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolore?</p>
  
        <a href="#" class="uppercase inline-block mt-8 text-sm bg-white py-2 px-4 rounded font-semibold hover:bg-indigo-100">get start</a>
        </div>
  
      </div>
      <div class="h-96 col-span-1 ">
       
        <div class="bg-white  rounded-md">
  
        <h1 class="text-center text-xl my-4  bg-white py-2 rounded-md border-b-2 cursor-pointer  text-gray-600">Quiz</h1>
        <div class="bg-white rounded-md list-none  text-center ">
          <li class="py-3 border-b-2"><a href="#" class="list-none  hover:text-indigo-600">Classroom</a></li>
          <li class="py-3 border-b-2"><a href="#" class="list-none  hover:text-indigo-600">Attendence</a></li>
          <li class="py-3 border-b-2"><a href="#" class="list-none  hover:text-indigo-600">Complaint</a></li>
          <li class="py-3 border-b-2"><a href="#" class="list-none  hover:text-indigo-600">Todo</a></li>
          
        </div>
        </div>
      </div>
      </div>
  
    </section>
  
  </main>