{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>




{% endblock %}

{% block content %}
<div class="row">
  <div class="col-3">
    <!-- component -->
    <aside class="w-52 bg-light min-h-full h-screen flex flex-col items-center pt-5 pb-2 space-y-7">

      <!-- menu items -->
      <div class="w-full pr-3 flex flex-col gap-y-1 text-gray-800 fill-gray-500 text-sm">

        <div class="font-QuicksandMedium pl-4 text-gray-400/60 text-xs text-[11px] uppercase">Menu</div>

        <div class="w-full flex items-center gap-x-1.5 group select-none">
          <div class="w-1 rounded-xl h-8 bg-transparent transition-colors duration-200 relative overflow-hidden">
            <div
              class="absolute top-0 left-0 w-full h-[102%] group-hover:translate-y-0 translate-y-0 bg-red-600 transition-all duration-300">
            </div>
          </div>
          <div
            class="bg-white/10 text-white group-hover:bg-white/10 w-full group-active:scale-95 self-stretch pl-2 rounded flex items-center space-x-2 transition-all duration-200 dark:group-hover:text-white dark:hover:text-white text-sm"
            href="#">
            <svg
              class="h-5 w-5 !fill-red-500 group-hover:fill-red-600 dark:fill-gray-600  transition-colors duration-200"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2zm5-2v-5h4v5zm-5-8.59 7-7 7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z">
              </path>
            </svg>


            <span class="font-QuicksandMedium">Home</span>
          </div>
        </div>

        <div class="w-full flex items-center gap-x-1.5 group select-none">
          <div class="w-1 rounded-xl h-8 bg-transparent transition-colors duration-200 relative overflow-hidden">
            <div
              class="absolute top-0 left-0 w-full h-[102%] translate-y-full group-hover:translate-y-0 bg-red-600 transition-all duration-300">
            </div>
          </div>
          <div
            class="group-hover:bg-white/10 w-full group-active:scale-95 self-stretch pl-2 rounded flex items-center space-x-2 transition-all duration-200 dark:group-hover:text-white dark:hover:text-white text-sm"
            href="#">
            <svg class="h-5 w-5 group-hover:fill-red-600 dark:fill-gray-600 transition-colors duration-200"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g>
                <path
                  d="M19 2H9c-1.11 0-2 .89-2 2v5.586l-4.707 4.7v0c-.4.39-.4 1.02 0 1.41 .18.18.44.29.7.29v5 0c0 .55.44 1 1 1h16v0c.55 0 1-.45 1-1v-17c0-1.11-.9-2-2-2Zm-8 18H5v-5.586l3-3 3 3V20Zm8 0h-6v-4 0c.55 0 .99-.45 1-1 0-.27-.11-.53-.3-.72L8.99 9.57V3.984h10v16Z">
                </path>
                <path d="M11 6h2v2h-2Zm4 0h2v2h-2Zm0 4.03h2v1.96h-2Zm0 3.96h2v2h-2Zm-8 1h2v2H7Z"></path>
              </g>
            </svg>
            <span class="font-QuicksandMedium">Discovery</span>
          </div>
        </div>

        <div class="w-full flex items-center gap-x-1.5 group select-none">
          <div class="w-1 rounded-xl h-8 bg-transparent transition-colors duration-200 relative overflow-hidden">
            <div
              class="absolute top-0 left-0 w-full h-[102%] translate-y-full group-hover:translate-y-0 bg-red-600 transition-all duration-300">
            </div>
          </div>
          <div
            class="group-hover:bg-white/10 w-full group-active:scale-95 self-stretch pl-2 rounded flex items-center space-x-2 transition-all duration-200 dark:group-hover:text-white dark:hover:text-white text-sm"
            href="#">
            <svg class="h-5 w-5 group-hover:fill-red-600 dark:fill-gray-600  transition-colors duration-200"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 3C6.23858 3 4 5.23858 4 8C4 10.7614 6.23858 13 9 13C11.7614 13 14 10.7614 14 8C14 5.23858 11.7614 3 9 3ZM6 8C6 6.34315 7.34315 5 9 5C10.6569 5 12 6.34315 12 8C12 9.65685 10.6569 11 9 11C7.34315 11 6 9.65685 6 8Z">
              </path>
              <path
                d="M16.9084 8.21828C16.6271 8.07484 16.3158 8.00006 16 8.00006V6.00006C16.6316 6.00006 17.2542 6.14956 17.8169 6.43645C17.8789 6.46805 17.9399 6.50121 18 6.5359C18.4854 6.81614 18.9072 7.19569 19.2373 7.65055C19.6083 8.16172 19.8529 8.75347 19.9512 9.37737C20.0496 10.0013 19.9987 10.6396 19.8029 11.2401C19.6071 11.8405 19.2719 12.3861 18.8247 12.8321C18.3775 13.2782 17.8311 13.6119 17.2301 13.8062C16.6953 13.979 16.1308 14.037 15.5735 13.9772C15.5046 13.9698 15.4357 13.9606 15.367 13.9496C14.7438 13.8497 14.1531 13.6038 13.6431 13.2319L13.6421 13.2311L14.821 11.6156C15.0761 11.8017 15.3717 11.9248 15.6835 11.9747C15.9953 12.0247 16.3145 12.0001 16.615 11.903C16.9155 11.8059 17.1887 11.639 17.4123 11.416C17.6359 11.193 17.8035 10.9202 17.9014 10.62C17.9993 10.3198 18.0247 10.0006 17.9756 9.68869C17.9264 9.37675 17.8041 9.08089 17.6186 8.82531C17.4331 8.56974 17.1898 8.36172 16.9084 8.21828Z">
              </path>
              <path
                d="M19.9981 21C19.9981 20.475 19.8947 19.9551 19.6938 19.47C19.4928 18.9849 19.1983 18.5442 18.8271 18.1729C18.4558 17.8017 18.0151 17.5072 17.53 17.3062C17.0449 17.1053 16.525 17.0019 16 17.0019V15C16.6821 15 17.3584 15.1163 18 15.3431C18.0996 15.3783 18.1983 15.4162 18.2961 15.4567C19.0241 15.7583 19.6855 16.2002 20.2426 16.7574C20.7998 17.3145 21.2417 17.9759 21.5433 18.7039C21.5838 18.8017 21.6217 18.9004 21.6569 19C21.8837 19.6416 22 20.3179 22 21H19.9981Z">
              </path>
              <path
                d="M16 21H14C14 18.2386 11.7614 16 9 16C6.23858 16 4 18.2386 4 21H2C2 17.134 5.13401 14 9 14C12.866 14 16 17.134 16 21Z">
              </path>
            </svg>

            <span class="font-QuicksandMedium">Friends</span>
          </div>
        </div>

        <div class="w-full flex items-center gap-x-1.5 group select-none">
          <div class="w-1 rounded-xl h-8 bg-transparent transition-colors duration-200 relative overflow-hidden">
            <div
              class="absolute top-0 left-0 w-full h-[102%] translate-y-full group-hover:translate-y-0 bg-red-600 transition-all duration-300">
            </div>
          </div>
          <div
            class="group-hover:bg-white/10 w-full group-active:scale-95 self-stretch pl-2 rounded flex items-center space-x-2 transition-all duration-200 dark:group-hover:text-white dark:hover:text-white text-sm"
            href="#">
            <svg class="h-5 w-5 group-hover:fill-red-600 dark:fill-gray-600  transition-colors duration-200"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C21.9939 17.5203 17.5203 21.9939 12 22ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C19.995 7.58378 16.4162 4.00496 12 4ZM17 13H11V7H13V11H17V13Z">
              </path>
            </svg>

            <span class="font-QuicksandMedium">Coming soon</span>
          </div>
        </div>
      </div>

      <!-- menu items -->
      <div class="w-full pr-3 flex flex-col gap-y-1 text-gray-500 fill-gray-500 text-sm">

        <div class="font-QuicksandMedium pl-4 text-gray-400/60 text-xs text-[11px] uppercase">Profile</div>


        <div class="w-full flex items-center gap-x-1.5 group select-none">
          <div class="w-1 rounded-xl h-8 bg-transparent transition-colors duration-200 relative overflow-hidden">
            <div
              class="absolute top-0 left-0 w-full h-[102%] translate-y-full group-hover:translate-y-0 bg-red-600 transition-all duration-300">
            </div>
          </div>
          <div
            class="group-hover:bg-white/10 w-full group-active:scale-95 self-stretch pl-2 rounded flex items-center space-x-2 transition-all duration-200 dark:group-hover:text-white dark:hover:text-white text-sm"
            href="#">
            <svg class="h-5 w-5 group-hover:fill-red-600 dark:fill-gray-600  transition-colors duration-200"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M19 21H5C3.89543 21 3 20.1046 3 19V15H5V19H19V5H5V9H3V5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21ZM11 16V13H3V11H11V8L16 12L11 16Z">
              </path>
              <span class="font-QuicksandMedium">log out</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="col-8">
    <div class="jumbotron jumbotron-fluid class_jumbotron">
      <div class="container p-5 my-3"
        style="background-image: url('https://smsnarberth.org/wp-content/uploads/2020/06/canva-pink-stationery-literacy-google-classroom-header-PpNk3erzEuI.jpg');">
        <h1 class="display-4 class_title ">{{ classroom.classroom_name }}</h1>
        <p class="lead class_code">Class code: {{ classroom.class_code }}</p>
      </div>
    </div>
    <input type="hidden" id="assignment_id" name="assignment_id">
    <div class="contatiner_of_assignments">
      {% if assignments %}
      {% for assignment in assignments %}
      {% for teacher in teachers %}
      {% if teacher.teacher_id.id == user.id %}
      <a href="{% url 'assignment_summary' assignment_id=assignment.id %}">
        {% else %}
        <a href="#submit_assignment" data-value="{{ assignment.id }}">
          {% endif %}
          {% endfor %}
          <div class="card assignment_card">
            <div class="card-body my-3">
              <h5 class="card-title my-2">{{assignment.assignment_name}}</h5>
              <h6 class="card-subtitle mb-2 my-2 text-muted">Assignment posted on {{ assignment.posted_date }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Assignment due at {{ assignment.due_time }} on
                {{ assignment.due_date }}</h6>
            </div>
          </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>

    <div class="modal" tabindex="-1" id="submit_assignment">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submit Assignment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" class="cclass_form" id="submit_assignment_form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <input type="file" id="myfile" name="myfile">
              </div>
              <button type="submit" class="btn btn-primary">Submit Assignment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>


{% endblock %}