{% load static %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg navbar-light navbar_custom">
  <a class="navbar-brand" href="#"
    style="font-size:250% !important; color:#2e45c7 !important; margin-left: 7%; margin-right: 30%"><b>Classroom</b></a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active mx-1 ">
      <button
        class="mybtn myinfo mybtn-active text-text-gray-600  py-1 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg"
        type="button" data-toggle="modal" data-target="#add_class">Create
        Class</button>
    </li>
    <li class="nav-item active mx-1 ">
      <button
        class="mybtn myinfo mybtn-active text-text-gray-600  py-1 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg"
        type="button" data-toggle="modal" data-target="#join_class">Join
        Class</button>
    </li>
    <li class="nav-item active mx-1 ">
      <a href="{% url 'logout' %}" type="button"
        class="mybtn myinfo mybtn-active text-text-gray-600  py-1 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg"
        style="text-decoration: none;">Logout</a>
    </li>
    <li class="nav-item active">
      <div class="image_cropper">
        <img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" alt="Profile Pic"
          class="profile_pic_style" style="height:9vh;">
      </div>
    </li>
  </ul>

</nav>

<script>
  $('#create_class_form').on('submit', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "create_class_request" %}',
      data: {
        class_name: $('#class_name').val(),
        section: $('#section').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("create_class_form").reset();
        $(".posts").prepend('<div class="col-md-6">' +
          '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
          '<div class="col p-4 d-flex flex-column position-static">' +
          '<h3 class="mb-0">' + json.class_name + '</h3>' +
          '<p class="mb-auto">' + json.section + '</p>' +
          '</div>' +
          '</div>' +
          '</div>'
        )
        window.location.href = 'http://127.0.0.1:8000/home/';
        window.location.reload();
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  });

  $('#join_class_form').on('submit', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "join_class_request" %}',
      data: {
        class_name: $('#class_name').val(),
        class_code: $('#class_code').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("create_class_form").reset();
        $(".posts").prepend('<div class="col-md-6">' +
          '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
          '<div class="col p-4 d-flex flex-column position-static">' +
          '<h3 class="mb-0">' + json.class_code + '</h3>' +
          '</div>' +
          '</div>' +
          '</div>'
        )
        window.location.href = 'http://127.0.0.1:8000/home/';
        window.location.reload();
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  });
</script>