{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>Classroom</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    {% include "base/hamburger.html" %}
    <div class="min-h-screen bg-gradient-to-tr from-red-300 to-yellow-200 flex justify-center items-center py-20">
        <div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0">
            {% if mappings %}
            <div class="row my-2">
                {% for mapping in mappings %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col">
                    <div class="card custom_card card-margin" style="width: 18rem;">

                        <div class="img-as-background colorme">
                            <a href="{% url 'render_class' id=mapping.classroom_id.id %}"
                                style="text-decoration: none;">
                                <h2 class="class-name-style">{{ mapping.classroom_id.classroom_name|truncatechars:30 }}
                                </h2>
                            </a>
                            {% for teacher in teachers_all %}
                            {% if teacher.classroom_id == mapping.classroom_id %}
                            <p class="section-style"><i>{{ teacher.teacher_id|truncatechars:15 }}</i></p>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="card-body card-text"><i>{{ mapping.classroom_id.section|truncatechars:20 }}</i>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                {% endif %}
            </div>

            <div class="row">
                {% else %}
                <div class="col my-2">
                    <div
                        class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500">
                        <h3 class="mb-3 text-xl font-bold text-indigo-600">
                            {{mapping.classroom_id.section|truncatechars:20 }}</h3>
                        <div class="relative">
                            <div class="img-as-background colorme p-5">
                                <a href="{% url 'render_class' id=mapping.classroom_id.id %}"
                                    style="text-decoration: none;">
                                    <h1 class="class-name-style text-light">
                                        {{mapping.classroom_id.classroom_name|truncatechars:30}}
                                    </h1>
                                </a>
                                {% for teacher in teachers_all %}
                                {% if teacher.classroom_id == mapping.classroom_id %}
                                <p class="section-style"><i>{{ teacher.teacher_id|truncatechars:30 }}</i></p>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <p
                                class="absolute top-0 bg-yellow-300 text-gray-800 font-semibold py-1 px-3 rounded-br-lg rounded-tl-lg">
                                {{ mapping.classroom_id.class_code|truncatechars:30 }}</p>
                        </div>
                        <h1 class="mt-4 text-gray-800 text-2xl font-bold cursor-pointer"> <a
                                href="{% url 'render_class' id=mapping.classroom_id.id %}"
                                style="text-decoration: none;">
                                <h2 class="class-name-style text-dark">
                                    {{ mapping.classroom_id.classroom_name|truncatechars:15 }}
                                </h2>
                        </h1>
                        {% for teacher in teachers_all %}
                        {% if teacher.classroom_id == mapping.classroom_id %}
                        <p class="section-style text-dark"><i>{{ teacher.teacher_id|truncatechars:15 }}</i></p>
                        {% endif %}
                        {% endfor %}
                        <div class="my-4 text-center">
                            <button
                                class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg">Access
                                Classroom</button>
                        </div>
                        </a>
                    </div>
                </div>



                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>




</div>
<script type="text/javascript">
    var colors_1 = ['#92081C', '#050377', '#23542B', '#462247'];   //dark colors
    var colors_2 = ['#FA9696', '#BCC0FF', '#3AFB76', '#964998'];    //light colors
    var x = document.getElementsByClassName('colorme');
    for (i = 0; i < x.length; i++) {
        var index = Math.floor(Math.random() * colors_1.length);
        var random_color_1 = colors_1[index];
        var random_color_2 = colors_2[index];
        var ans = "linear-gradient(90deg, " + random_color_1 + ", " + random_color_2 + ")";
        x[i].style.background = ans;
        // alert(ans);
    }
</script>

{% endblock %}